<h1>Fill in your original word a list of possible anagrams</h1>
<form action='/matches'>
  <div class="form-group">
    <label for="object">Type in your original word here!</label>
    <input id="object" name="object" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="argument_array">Type in your possible anagrams, separated by commas!</label>





    <input id="argument_array" name="argument_array" class="form-control" type="text">



  </div>
  <button type="submit" class="btn-danger">ANAGRAMATE ME!</button>
</form>
